:root {
	--dark-background: #121212;
	--dark-text: #ffffff;
	--dark-border: rgba(255, 255, 255, 0.12);

	--light-background: #fafafa;
	--light-text: #000000;
	--light-border: rgba(0, 0, 0, 0.12);
}
