@use '../abstracts/variable';

body {
	// Spacing
	padding-left: 232px;

	#root {
		// Spacing
		margin: 0 auto;
		padding: 2rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		// Spacing
		margin: 0;
	}
}
